rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que um usuário leia os documentos da coleção 'arquivos'
    // apenas se o 'clienteId' no documento for igual ao seu próprio UID.
    match /arquivos/{docId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.clienteId;
    }
  }
}